html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: auto;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f2f2f2;
}
.main-content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.container {
  max-width: 600px;
}
.logo{
    margin-bottom: 20px;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
p {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  color: #555;
}
.btn-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.btn {
  padding: 12px 20px;
  min-width: 120px;
  max-width: 100%;
  min-height: 40px;
  max-height: 100%;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /*gap between icon & word (Button)*/
}
.btn i{
    font-size: 1.2em;
}
.btn-whatsapp {
  background-color: #25D366;
}
.btn-whatsapp:hover {
  background-color: #1ebd5b;
}
.btn-facebook {
  background-color: #0072C6;
}
.btn-email:hover {
  background-color: #005a9e;
}
.btn-email {
  background-color: #214c6b;
}
.btn-email:hover {
  background-color: #005a9e;
}

/*Footer*/
footer{
    text-align: center;
    padding: 5px 0;
    background-color: rgba(150, 144, 144, 0.6);
    color: #ccc;
    font-size: 0.8em;
    align-items: bottom;
}

/*Responsive Design*/
@media(max-width: 600px){
  h1{
    font-size: 2em;
  }
  .btn-group{
    flex-direction: column;
    gap: 15px;
  }
  .btn{
    width: 100%;
    justify-content: center;
  }
  .container{
    padding: 0 15px;
  }
}